# 列表list

- 定义
- 拼接
  - ``+`` ``*`` ``in``, ``not in``, ``len()``
- 切片
- 拆包
- 索引
- 排序
- 统计（聚合）
- “增删插改”

## 定义

list是一种有序的集合,内部可以由任何数据类型的组成的

现在有5位员工的汇总信息，

|id|姓名|年龄|性别|爱好|
|:---|:---|:---|:---|:---|
|1|David|25|Male|Basketball, Pingpang, Hiking|
|2|Mary|23|Female|Reading, Movies|
|3|Henry|23|Male|Diving, Hiking|
|4|Swift|21|Male|Football, Music|
|5|Lenard|26|Male|Stay at Home|

In [12]:
names = ['David', 'Mary', 'Henry', 'Swift', 'Lenard']

ages = [25, 23, 23, 21, 26]

hobbies = [['Basketball', 'Pingpang', 'Hiking'],
          ['Reading', 'Movies'],
          ['Diving', 'Hiking'],
          ['Football', 'Music'],
          ['Stay at Home']]

print(type(names))
print(type(ages))
print(type(hobbies))

print(names)
print(ages)
print(hobbies)

<class 'list'>
<class 'list'>
<class 'list'>
['David', 'Mary', 'Henry', 'Swift', 'Lenard']
[25, 23, 23, 21, 26]
[['Basketball', 'Pingpang', 'Hiking'], ['Reading', 'Movies'], ['Diving', 'Hiking'], ['Football', 'Music'], ['Stay at Home']]

## 拼接

In [13]:
a1 = ['Michael', 'Bob']
a2 = ['David', 'Lee']

print(a1 + a2)
print(a2 + a1)

['Michael', 'Bob', 'David', 'Lee']
['David', 'Lee', 'Michael', 'Bob']

In [43]:
print(a1*5)

['Michael', 'Bob', 'Michael', 'Bob', 'Michael', 'Bob', 'Michael', 'Bob', 'Michael', 'Bob']

In [44]:
'Michael' in a1

True

In [45]:
'Tom' not in a1

True

In [46]:
len(a2)

2

## 拆包
等号两边长度相同

In [14]:
name, age = ['David', 25]
print(name)
print(age)

David
25

## 切片
列表的切片与字符串类似

|id|姓名|年龄|性别|爱好|正索引|倒索引|
|:---|:---|:---|:---|:---|:---|:---|
|1|David|25|Male|Basketball, Pingpang, Hiking|0|-5|
|2|Mary|23|Female|Reading, Movies|1|-4|
|3|Henry|23|Male|Diving, Hiking|2|-3|
|4|Swift|21|Male|Football, Music|3|-2|
|5|Lenard|26|Male|Stay at Home|4|-1|

In [15]:
names = ['David', 'Mary', 'Henry', 'Swift', 'Lenard']
names

['David', 'Mary', 'Henry', 'Swift', 'Lenard']

In [16]:
print(names[2])
print(names[-3])

Henry
Henry

In [17]:
print(names[0:3])
print(names[-5:-2])

['David', 'Mary', 'Henry']
['David', 'Mary', 'Henry']

In [18]:
print(names[2:])
print(names[-3:])

['Henry', 'Swift', 'Lenard']
['Henry', 'Swift', 'Lenard']

In [19]:
print(names[:2])
print(names[:-3])

['David', 'Mary']
['David', 'Mary']

In [47]:
names[:]

['David', 'Mary', 'Henry', 'Swift', 'Lenard', 'Mary']

In [49]:
names[0:5:2]

['David', 'Henry', 'Lenard']

## 列表常用方法

### 排序
|常用方法|功能|
|:---|:---|
|list.index()|returns the index for the given item from the start of the list!|
|list.copy|复制list|
|list.sort( )|将列表中的元素正向排列|
|sorted( list )|返回一份排序好的列表copy|
|list.reverse( )|将列表中的元素反向排列|

In [50]:
list_1 = [1, 5, 2, 3, 1]
list_1.index(5)

1

In [51]:
list_2 = list_1.copy()
list_2[1] = 6
print(list_1)
# [1, 5, 2, 3, 1]
print(list_2)
# [1, 6, 2, 3, 1]

[1, 5, 2, 3, 1]
[1, 6, 2, 3, 1]

In [52]:
list_1.reverse()
list_1  # [1, 3, 2, 5, 1]

[1, 3, 2, 5, 1]

In [53]:
list_1.sort()
list_1  # [1, 1, 2, 3, 5]

[1, 1, 2, 3, 5]

In [55]:
list_1.sort(reverse=True)
list_1

[5, 3, 2, 1, 1]

In [56]:
zoo=['Zebra', 'Tiger', 'Lion']
zoo_sorted = sorted(zoo)
print(zoo_sorted)  # ['Lion', 'Tiger', 'Zebra']
print(zoo)

['Lion', 'Tiger', 'Zebra']
['Zebra', 'Tiger', 'Lion']

### 统计（聚合）
|常用方法|功能|
|:---|:---|
|list.count(a) |统计list中a的个数|
|sum(list)|求和|
|max(list)|最大值|
|min(list)|最小值|

In [58]:
numbers = [1, 2, 3, 4, 5]
print(sum(numbers),
max(numbers),
min(numbers))

15 5 1

In [ ]:
list_1=[1, 2, 3, 1]
list_1.count(1)

### 增删插改

|常用方法|功能|
|:---|:---|
|list.append(a) |向list中添加元素a|
|list.extend(lst)|向list中添加列表lst|
|list.insert(index,item)|在给定index处插入item项|
|list.remove(item)|searches for the first instance of the given item in the list and removes it|
|list.pop()|从队尾开始删除|
|list.pop(index)|删除索引对应的项，并返回删除的值|
|del list[]|用于删除切片乃至整个列表|

In [20]:
names = ['David', 'Mary', 'Henry', 'Swift', 'Lenard']

print(names)
names.append('Mary')
print(names)

['David', 'Mary', 'Henry', 'Swift', 'Lenard']
['David', 'Mary', 'Henry', 'Swift', 'Lenard', 'Mary']

In [21]:
names.reverse()
print(names)

['Mary', 'Lenard', 'Swift', 'Henry', 'Mary', 'David']

In [22]:
names = ['David', 'Mary', 'Henry', 'Swift', 'Lenard']

print(names)

names.extend(['Mary'])

print(names)

['David', 'Mary', 'Henry', 'Swift', 'Lenard']
['David', 'Mary', 'Henry', 'Swift', 'Lenard', 'Mary']

In [23]:
names+['Mary']

['David', 'Mary', 'Henry', 'Swift', 'Lenard', 'Mary', 'Mary']

In [24]:
ages = [25, 23, 23, 21, 26]
print(ages.count(23))

2

In [25]:
one = ['David']
print(one[-1])
print(one[0])

David
David

# 元组 tuple
形似列表，也有**有序**的集合，**不能修改**
- 元组拼接
- 切片
- 拆包
- 索引
- 聚合方法
- zip()

In [26]:
name_list = ['David', 'Mary', 'Henry', 'Swift', 'Lenard']
name_tuple = ('David', 'Mary', 'Henry', 'Swift', 'Lenard')

print(type(name_list))
print(type(name_tuple))

print(name_list)
print(name_tuple)

<class 'list'>
<class 'tuple'>
['David', 'Mary', 'Henry', 'Swift', 'Lenard']
('David', 'Mary', 'Henry', 'Swift', 'Lenard')

In [27]:
print(name_list==name_tuple)

False

## ``Tuple()`` 函数

In [59]:
tuple("sustech")

('s', 'u', 's', 't', 'e', 'c', 'h')

In [60]:
tuple({'a':1,'b':2})

('a', 'b')

In [61]:
name_tuple[0]

'David'

## ``zip()`` 函数

Returns a sequence of tuples, where the i-th tuple contains the i-th element from each of the iterables. The aggregation of elements stops when the shortest input iterable is exhausted

In [62]:
x = [1, 2, 3]
y = [4, 5, 6, 7]

zipped = zip(x, y)
zipped

In [63]:
list(zipped)

[(1, 4), (2, 5), (3, 6)]

# 集合 Set

- 集合中没有重复元素，且集合是无序的
- unordered collection with no duplicate items 
- set() and modification
- len(),sorted(),update()
- add(),discard()
- frozenset():immutable

In [28]:
names2 = ['David', 'Mary', 'David', 'Swift', 'David']
print(set(names2))

{'Mary', 'David', 'Swift'}

### 集合的方法
- setdata.add(ele)  向setdata中加入ele
- setdata.discard(ele)  
  - Remove an element from a set if it is a member.
  - If the element is not a member, do nothing.

- Sets are mutable
  - Indexing is not possible in sets, since set items are unordered
  - You cannot access or change an item of the set using indexing or slicing

In [29]:
name_set = set(names2)

print(name_set)

name_set.add('William')

print(name_set)

{'Mary', 'David', 'Swift'}
{'Mary', 'William', 'David', 'Swift'}

In [41]:
name_set.discard("William")
name_set

{'David', 'Mary', 'Swift'}

**集合不能切片**

In [32]:
name_set[2]

TypeError: 'set' object is not subscriptable

### 集合运算：差集（-），并集（|），交集（&），对称差集（^）

In [40]:
set1 = {'C', 'D', 'E', 'F', 'G'}
set2 = {'E', 'F', 'G', 'A', 'B'}

set1|set2

{'A', 'B', 'C', 'D', 'E', 'F', 'G'}

In [36]:
set1-set2

{'C', 'D'}

In [37]:
set1&set2

{'E', 'F', 'G'}

In [38]:
set1^set2

{'A', 'B', 'C', 'D'}

### frozenset()

A frozenset is basically the same as a set, except that it is immutable. Once a frozenset is created, its items cannot be changed

In [65]:
fs = frozenset(["g", "o", "o", "d"])
fs

frozenset({'d', 'g', 'o'})

In [66]:
frozenset({'d', 'o', 'g'})

animals = set([fs, "cattle", "horse"])
animals

{'cattle', frozenset({'d', 'g', 'o'}), 'horse'}